body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

header {
  color: white;
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.container{
    max-width:1460px;
    margin:0 auto;
}
nav a {
  color: #000;
  text-decoration: none;
}

.banner {
  text-align: center;
  background: #e0f7fa;
  padding: 3rem 1rem;
}
#main-bar{
    border-top:1px solid #EBEBEB;
    border-bottom:1px solid #EBEBEB;
}
#main-bar .container{
    padding:10px;
}
#coupon-offer{
    background-color: #D2B797;
    text-align: center;
    padding: 12px;
    color: #000;
}